body {
  margin: 0;
  text-align: center;
  font-family: "Alegreya SC", serif;
  font-size: 16px;
  color: #40514e;
}
a {
  color: #11999e;
}
h1 {
  color: #66bfbf;
  font-size: 4.1rem;
  font-family: "Cinzel Decorative", cursive;
  margin: 50px auto 0 auto;
  width: 600px;
}
h2 {
  font-weight: normal;
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Cinzel Decorative", cursive;
  padding: 20px;
}
h3 {
  color: #11999e;
  font-family: "Cinzel Decorative", cursive;
}
hr {
  border-style: dotted none none;
  width: 4%;
  border-width: 7px;
  border-color: #cacece;
}
p {
  line-height: 2;
}
a {
  text-decoration: none;
  font-family: "Cinzel Decorative", cursive;
}
a:hover {
  color: #eaf6f6;
}

.contact {
  width: 30%;
  margin: 40px auto 60px;
}
.intro {
  width: 30%;
  margin: auto;
}
.skills {
  padding: 20px;
}
.profile {
  padding: 20px;
  margin: 30px auto;
}
.contact-me {
  padding: 20px;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  position: relative;
  margin: 100px 0 0 0;
  background-color: #66bfbf;
  padding-top: 80px;
  padding-bottom: 10px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
}
.top-cloud {
  position: relative;
  left: 20%;
  bottom: 50px;
}
.pro {
  font-style: italic;
  text-decoration: underline;
}
.soldier {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.commputer {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.specialist {
  height: 150px;
  width: 150px;
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Cinzel Decorative", cursive;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  position: relative;
  bottom: 50px;
  padding: 20px;
}

.mister {
  color: #eaf6f6;
  position: relative;
  bottom: 20px;
  font-size: 12px;
}
